.single-detail {
  font-size: 12px;
  text-align: center;
  position: relative;
  font-weight: bold;
  border: 1px solid black;
  background-color: honeydew;
}

.detail-name {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
}

.detail-value {
  text-align: center;
  font-weight: bold;
}

.doubled {
  grid-column: span 2;
}

.smaller-config {
  font-size: 11px;
  height: 40px;
  padding-top: 1px;
}

.smaller-category {
  font-size: 12px;
}

@media screen and (max-width: 1400px) {
  .detail-name {
  line-height: 20px;
}
.single-detail {
  font-size: 10px;
}
.smaller-config {
  font-size: 8px;}
.smaller-category {
  font-size: 10px;
}

}