.single-detail {
  font-size: 18px;
  text-align: center;
  position: relative;
  color: white
}

.detail-name {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
}

.detail-value {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  padding-bottom: 5px;
}

.doubled {
  grid-column: span 2;
}

.smaller-config {
  font-size: 14px;
  height: 40px;
  padding-top: 5px;
}

.smaller-category {
  font-size: 16px;
}