.description {
  grid-column: 5/9;
  grid-row: 1/3;
  background-color: honeydew;
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(2, 70px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary {
  border: 1px solid black;
  grid-column: 1/9;
  grid-row: 2/3;
}

p {
  font-size: 16px;
  margin: 0 auto;
  padding: 5px;
  line-height: 1em;
}
a {
  text-align: center;
  text-decoration: none;
  padding-left: 2px;

}

@media screen and (max-width: 1400px) {
  .description{
  
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(2, 50px);}
 p{
   font-size: 11px;
 }
}