.element {
    border: 1px solid black;
    position: relative;
}

.element:hover {
    background-color: white !important;
    cursor: pointer;
}

p {
    line-height:0px;
}

.number {
    position:absolute;
    float: left;
    font-size: 20px;
    padding-left: 2px;
}

.symbol { 
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
}

.name {
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

