.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 80px);
  grid-template-rows: repeat(7, 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}